.custom{
    font-size: 94px;
    font-weight:900px ;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 80px;
    margin-left: 20px;
     color:rgb(0, 0, 0);

}
.para{
    font-size: 40px;
    font-weight:900rem ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
    margin-left: 20px;
     color:dimgray;
}
.explore{
    border:2px solid black;
    margin-left: 20px;
    border-radius:20px 3px 20px 3px;
    padding: 10px;
    width:300px;
    font-weight: 700;
   background-color: rgb(200, 7, 7);
}
.homepage{
    background-color: rgb(109, 127, 143);
}
.col-img{
    margin-top: -10px;
}